#anim {
  overflow: hidden;
  border-right: 0.2rem solid #121212;
  white-space: nowrap;
  animation: 
    typing 7s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #121212; }
}